// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
     font-family: "Comic Sans MS", cursive, sans-serif;
     font-size: 3rem;
}


.navbar-light .navbar-nav .nav-link {
	color: rgb(255, 253, 253);
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.search-area {
	padding-top: 50px;
}

.no-right-padding {
	padding-right: 0 !important;
}
.no-left-padding {
	padding-left: 0 !important;
}

.results-block {
	display: inline-block;
}